body{
  align-items: center;
  text-align: center;
  background-color: #fafdfe;

}
#h11{
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

label{
  display: inline-block;
}

#main_box{

  align-items: center;
  text-align: center;
  margin: auto auto auto auto;
  border:2px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
  box-shadow: 5px 5px 5px #888888;
}
#input1{
  height: 33px;
  align-items: center;
  text-align: center;
  margin: 30px auto 10px 0;
  border: 0;
  box-shadow: 2px 2px #888888;
  background-color: #f5fbfe;
}
#input2{
  height: 33px;
  align-items: center;
  text-align: center;
  margin:0 auto 20px auto;
  border: 0;
  box-shadow: 2px 2px #888888;
  background-color: #f5fbfe;
}
#label1{
  align-items: center;
  text-align: center;
  margin: 0 30px 25px auto;
}

#label2{
  align-items: center;
  text-align: center;
  margin: 0 auto 25px auto;
}
#submit{
  align-items: center;
  text-align: center;
  display: block;
  margin: 10px auto 35px auto;
  width: 40%;
  box-shadow: 3px 3px 3px #888888;
  border-radius: 20px;
}
i{padding-right: 6px;
  padding-top: 6px;
}

