.body{
  align-items: center;
  text-align: center;
  background-color: #131313;
  color: white;
}
#h11{
  margin-top: 15px;
  align-items: center;
  text-align: center;
  font-size: 50px;
  color: white;
}

label{
  display: inline-block;
}

#main_box{
  background-color: #222222;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
  z-index: -1;
}
#input1{
  height: 40px;
  align-items: center;
  text-align: center;
  margin: 25px auto 10px auto;
  border: 0;
  font-size: 18px;
  background-color: white;
  color: black;
}
#input2{
  height: 40px;
  align-items: center;
  text-align: center;
  margin:0 auto 20px auto;
  border: 0;
  font-size: 18px;
  background-color: white;
  color: black;
  padding-left: 0;
}
#label1{
  align-items: center;
  text-align: center;
  margin: 0 30px 25px auto;
}

#label2{
  align-items: center;
  text-align: center;
  margin: 0 auto 25px auto;
}
#submit{
  align-items: center;
  text-align: center;
  display: block;
  margin: 5px auto 35px auto;
  /* width: 40%; */
  box-shadow: 4px 4px 4px #000000;
  border-radius: 20px;
  background-color: #126e82;
}
#submit:hover {
  background-color: #1f2833;
}
input{
  color: black;
}
input:focus {
    color: #1A4645;
}
i{padding-right: 6px;
  padding-top: 6px;
  color: white;
}
::placeholder {
  color: black;
  opacity: 0.7;
}
.footer{
  background-color: #1f2833;
  color: white;
  font-size: 1rem;
}
#nav{
  background-color: #1f2833;
  color: white;
  font-size: 1.5rem;
  display: block;
  position: static;
  
}
#nav3{
  background-color: #1f2833;
  color: white;
  font-size: 1rem;
 
}
#nomargin{
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

input[type=radio] {
  -ms-transform: scale(1.7); /* IE 9 */
    -webkit-transform: scale(1.7); /* Chrome, Safari, Opera */
    transform: scale(1.7);
}
