textarea
{
    resize: none;
}

.height-card
{
    height: 70px;
    padding-top: 5px;
}

.abtn
{
    margin-top: 80px;
}

.console
{
    height: 260px;
}

@media(max-width : 768px)
{
    
}
